<div class="well">
  <h4>Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun. It includes everything you need to build fantastic applications, and you can learn it with the support of our large, friendly community.</h4>
  <p> This Q &amp; A site is dedicated to answer all the questions obout Ruby on Rails</p>
</div>
<div class="container">
  <% @questions.each do |eachQuestion| %>
    <div class="lead well">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="<%= eachQuestion.gravatar %>" alt="Playground image">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= eachQuestion.email %></h4>
          <div><%= time_ago_in_words eachQuestion.created_at %> ago</div>
          <%= eachQuestion.body %>
          <div><a href="<%= question_path(eachQuestion)%>" class="btn btn-success btn-xs">View Answers</a></div>
        </div>
      </div>
    </div>
  <% end %>

  <%if @questions.empty? %>
    <div class="alert alert-info">No questions asked yet be the first one to ask.</div>
  <%end%>
</div>
